# Python e Bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/
.ipynb_checkpoints/

# Streamlit e IDEs
.streamlit/config.toml
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
